<section>
  <ul class="contact">
    <li>
      <h3>Address</h3>
      <span>{{address.street}}<br />
      {{address.city}}, {{address.state}} {{address.zip_code}}<br />
      {{address.country}}</span>
    </li>
    <li>
      <h3>Email</h3>
      <a href="#">{{address.email}}</a>
    </li>
    <li>
      <h3>Phone</h3>
      <span>{{address.phone}}</span>
    </li>
    <li>
      <h3>Social</h3>
      <ul class="icons">
        <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="fa-github"><span class="label">GitHub</span></a></li>
        <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="fa-linkedin"><span class="label">LinkedIn</span></a></li>
      </ul>
    </li>
  </ul>
</section>
